
@media screen and (max-width: 600px) {
    .navbar a{
        width: 100%;
    }
}


.header h2::first-letter{
    font-size: 50px;
    color: blue;
    font-weight: 700;
}
.header h2{
    color: #222;
}

.nav a:hover{
    color: orangered;
}
.head{
    align-items: baseline;
}

/* a{
    font-size: large;
} */



.box h3{
    text-decoration: underline;
}

.box1{
    padding-top: 50px;
}




.arrival p{
    font-size: 80px;
    font-weight: 400;
}



.box2{
    box-shadow: 1px 1px 1px 1px #222;
}

.icons i{
    font-size: 35px;
    color: antiquewhite;
}

.list1 a{
    color: antiquewhite;
}

.footer{
    background-color: black;
}

.footer2{
    background-color: black;
}
.header1 h2::first-letter{
    font-size: 60px;
    color: white;
    font-weight: 700;
}

.slide1{
    height: 600px;
    /* background-color: aqua; */
    overflow:auto;
    position: sticky;
}
.slide2{
    height: 600px;
    /* background-color: aqua; */
    overflow: auto;
    position: sticky;
}

.foota a{
    margin-left: 15px;
}
.foota a:hover{
    color: antiquewhite;
}
.slide2 img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.size1{
    height: 300px;
    /* background-color: aqua; */
    overflow:auto;
    position: sticky;
}

.acc{
    height: 300px;
    /* background-color: aqua; */
    overflow:auto;
    position: sticky;
}

